n8n/face recognition wf.json
{
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":true,\"message\":\"Pengaturan face recognition berhasil disimpan\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        736,
        400
      ],
      "id": "f4e50295-0fcf-4a50-9791-1da31bdcc7d0",
      "name": "Respond Face POST"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"pengaturan\" SET \"value\" = '{{ ($json.value).toString().replace(/'/g, \"''\") }}' WHERE \"key\" = '{{ ($json.key).toString().replace(/'/g, \"''\") }}' RETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        400
      ],
      "id": "fae95221-e95a-42cf-977f-6de50682e66b",
      "name": "Update Face Setting",
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body=$input.first().json.body||$input.first().json;\nconst ADMIN_IDS=[1383864355];\nconst adminId=parseInt(body.admin_id||0);\nif(!ADMIN_IDS.includes(adminId)){$execution.respond({statusCode:403,headers:{'Access-Control-Allow-Origin':'*'},body:JSON.stringify({ok:false,message:'Akses ditolak.'})});return[];}\nconst val=String(body.enabled);\nconst value=(val==='true'||val==='1')?'1':'0';\nreturn [{json:{key:'face_recognition',value}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        400
      ],
      "id": "dd208bd4-c64a-45e1-971e-ea70b058b352",
      "name": "Parse Face POST"
    },
    {
      "parameters": {
        "jsCode": "const method=$input.first().json.headers?.['x-forwarded-method']||$input.first().json.method||'';\nif(method==='OPTIONS'){$execution.respond({statusCode:200,headers:{'Access-Control-Allow-Origin':'*','Access-Control-Allow-Methods':'GET,POST,OPTIONS','Access-Control-Allow-Headers':'Content-Type,ngrok-skip-browser-warning,Accept,Authorization'},body:''});return[];}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        400
      ],
      "id": "3f7474f1-4884-4f59-87c5-591e59e76514",
      "name": "CORS Face POST"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "face-toggle",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        400
      ],
      "id": "ebb27acc-340b-4ae9-9c45-9f23e38cd626",
      "name": "Face Toggle POST Webhook",
      "webhookId": "face-toggle-post-0001",
      "credentials": {
        "httpHeaderAuth": {
          "id": "r01tQvSvzADocRWE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        736,
        208
      ],
      "id": "f75bb84d-b996-4a37-8b8f-673784e7e600",
      "name": "Respond Face GET"
    },
    {
      "parameters": {
        "jsCode": "const rows=$input.all().map(i=>i.json);\nconst row=rows[0]||{};\nconst enabled = row.value !== undefined ? (String(row.value).trim()!=='0') : true;\nreturn [{json:{enabled,value:enabled?'1':'0'}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        208
      ],
      "id": "d1b8d961-9336-455b-93f5-a958904ea046",
      "name": "Format Face GET"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"pengaturan\" WHERE \"key\" = 'face_recognition'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        208
      ],
      "id": "60cea3da-bc21-4cd3-ab77-925c7beaf530",
      "name": "Get Face Setting",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const method=$input.first().json.headers?.['x-forwarded-method']||$input.first().json.method||'';\nif(method==='OPTIONS'){$execution.respond({statusCode:200,headers:{'Access-Control-Allow-Origin':'*','Access-Control-Allow-Methods':'GET,POST,OPTIONS','Access-Control-Allow-Headers':'Content-Type,ngrok-skip-browser-warning,Accept,Authorization'},body:''});return[];}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        208
      ],
      "id": "5ef67738-0b38-4555-b235-1eac544f0851",
      "name": "CORS Face Toggle GET"
    },
    {
      "parameters": {
        "path": "face-toggle",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        208
      ],
      "id": "61d9fde7-e13d-4de8-89ff-acd80c98bd9e",
      "name": "Face Toggle GET Webhook",
      "webhookId": "face-toggle-get-0001",
      "credentials": {
        "httpHeaderAuth": {
          "id": "r01tQvSvzADocRWE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        736,
        0
      ],
      "id": "d0f23eaf-d2ab-40a2-8107-8747a2bde0dd",
      "name": "Respon Face Get"
    },
    {
      "parameters": {
        "jsCode": "const row     = $input.first().json;\nconst histStr = String(row.face_histogram || '').trim();\nconst savedAt = row.face_saved_at || null;\nconst dataUrl = String(row.face_photo || '').trim() || null;\nconst face_model = row.face_model || null;\n\nif (!histStr || histStr === '[]') {\n  return [{ json: { ok: false, message: 'Belum ada data wajah', histogram: null, face_descriptor: null, descriptor: null, dataUrl: null } }];\n}\n\ntry {\n  const histogram = JSON.parse(histStr);\n  // Return all aliases so frontend can find descriptor regardless of field name\n  return [{ json: { \n    ok: true, \n    histogram,\n    face_descriptor: histogram,\n    descriptor: histogram,\n    face_model: face_model || (histogram.length >= 512 ? 'human' : 'faceapi'),\n    saved_at: savedAt,\n    savedAt: savedAt,\n    dataUrl\n  } }];\n} catch(_) {\n  return [{ json: { ok: false, message: 'Data histogram tidak valid', histogram: null, face_descriptor: null, descriptor: null, dataUrl: null } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        0
      ],
      "id": "48dfc1c5-a58a-4989-9f73-45b5e10886bd",
      "name": "Format Histogram Response"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user_list",
          "mode": "list",
          "cachedResultName": "user_list"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $input.first().json.query.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        0
      ],
      "id": "5037d016-2eb6-4c17-9dc1-8a44d8fb3b15",
      "name": "Get Pegawai dari user_list",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const method=$input.first().json.headers?.['x-forwarded-method']||$input.first().json.method||'';\nif(method==='OPTIONS'){$execution.respond({statusCode:200,headers:{'Access-Control-Allow-Origin':'*','Access-Control-Allow-Methods':'GET,POST,OPTIONS','Access-Control-Allow-Headers':'Content-Type,ngrok-skip-browser-warning,Accept,Authorization'},body:''});return[];}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        0
      ],
      "id": "5c656a18-1e46-4924-bbea-2e7d5ed340d6",
      "name": "CORS Face Get"
    },
    {
      "parameters": {
        "path": "face-get",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        0
      ],
      "id": "4d1dd4e1-528b-409c-ae2c-56ad243e7d3e",
      "name": "Face Get Webhook",
      "webhookId": "face-get-0001",
      "credentials": {
        "httpHeaderAuth": {
          "id": "r01tQvSvzADocRWE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":true,\"message\":\"Data wajah berhasil disimpan\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        736,
        -208
      ],
      "id": "cc833bbe-0783-4bd7-8245-9a75ddc6686d",
      "name": "Respon Face Register"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"user_list\" SET \"face_histogram\" = '{{ ($json.histogram_str).toString().replace(/'/g, \"''\") }}', \"face_photo\" = '{{ ($json.foto_base64).toString().replace(/'/g, \"''\") }}', \"face_saved_at\" = '{{ ($json.saved_at).toString().replace(/'/g, \"''\") }}', \"face_model\" = '{{ ($json.face_model).toString().replace(/'/g, \"''\") }}' WHERE \"id\" = '{{ ($json.user_id).toString().replace(/'/g, \"''\") }}' RETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        -208
      ],
      "id": "11c83923-e588-49ee-ae3e-5a5524bb5b4f",
      "name": "Simpan Histogram ke user_list",
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst user_id = String(body.user_id || '').trim();\nconst saved_at = body.saved_at || new Date().toISOString();\nconst face_model = body.face_model || 'faceapi';\n\n// 1. Validasi user_id\nif (!user_id) {\n  return [{\n    json: { error: true, statusCode: 400, message: 'user_id wajib diisi' }\n  }];\n}\n\n// 2. Mode RESET\nif (body._reset) {\n  return [{ \n    json: { user_id, histogram_str: '[]', foto_base64: '', saved_at: '', face_model: 'faceapi', error: false } \n  }];\n}\n\n// 3. Mode SIMPAN\nconst face_descriptor = body.face_descriptor; \nconst foto_base64 = String(body.foto_base64 || '').trim();\n\nif (!face_descriptor || !Array.isArray(face_descriptor)) {\n  return [{\n    json: { error: true, statusCode: 400, message: 'face_descriptor wajib diisi (Array)' }\n  }];\n}\n\n// 4. Berhasil Parse\nreturn [{\n  json: {\n    user_id: user_id,\n    histogram_str: JSON.stringify(face_descriptor),\n    face_model: face_model,\n    foto_base64: foto_base64,\n    saved_at: saved_at,\n    error: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -208
      ],
      "id": "ab8dad2f-49ee-478c-ab37-0062fb60c64f",
      "name": "Parse Face Data"
    },
    {
      "parameters": {
        "jsCode": "const method = $input.first().json.headers?.['x-forwarded-method'] || $input.first().json.method || '';\n\nif (method === 'OPTIONS') {\n  $execution.respond({\n    statusCode: 200,\n    headers: {\n      'Access-Control-Allow-Origin': '*',\n      'Access-Control-Allow-Methods': 'POST,GET,OPTIONS',\n      'Access-Control-Allow-Headers': 'Content-Type,ngrok-skip-browser-warning,Accept,Authorization'\n    },\n    body: ''\n  });\n  return [];\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -208
      ],
      "id": "373391cd-6530-4039-b0e7-e66bfac0c3d8",
      "name": "CORS Face Register"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "face-register",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        -208
      ],
      "id": "f6e83a59-ff2a-4249-9821-8cf0598c1945",
      "name": "Face Register Webhook",
      "webhookId": "face-register-0001",
      "credentials": {
        "httpHeaderAuth": {
          "id": "r01tQvSvzADocRWE",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "connections": {
    "Update Face Setting": {
      "main": [
        [
          {
            "node": "Respond Face POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Face POST": {
      "main": [
        [
          {
            "node": "Update Face Setting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS Face POST": {
      "main": [
        [
          {
            "node": "Parse Face POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Face Toggle POST Webhook": {
      "main": [
        [
          {
            "node": "CORS Face POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Face GET": {
      "main": [
        [
          {
            "node": "Respond Face GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Face Setting": {
      "main": [
        [
          {
            "node": "Format Face GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS Face Toggle GET": {
      "main": [
        [
          {
            "node": "Get Face Setting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Face Toggle GET Webhook": {
      "main": [
        [
          {
            "node": "CORS Face Toggle GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Histogram Response": {
      "main": [
        [
          {
            "node": "Respon Face Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pegawai dari user_list": {
      "main": [
        [
          {
            "node": "Format Histogram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS Face Get": {
      "main": [
        [
          {
            "node": "Get Pegawai dari user_list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Face Get Webhook": {
      "main": [
        [
          {
            "node": "CORS Face Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simpan Histogram ke user_list": {
      "main": [
        [
          {
            "node": "Respon Face Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Face Data": {
      "main": [
        [
          {
            "node": "Simpan Histogram ke user_list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS Face Register": {
      "main": [
        [
          {
            "node": "Parse Face Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Face Register Webhook": {
      "main": [
        [
          {
            "node": "CORS Face Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "4b55943efb5f219d407bc408d9277d6d643804fc75070b4ed56250fe03c8ea67"
  }
}