n8n/Ket absensi wf.json
{
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: 'Konfirmasi berhasil diproses.' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "id": "029244d8-9507-4aca-9821-52d28d1bdc30",
      "name": "Respond OK Approve",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2000,
        368
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "4a9bac5d-9732-49e4-bb97-f21a52d2f8fa",
      "name": "Broadcast ke Semua Pegawai",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1776,
        368
      ],
      "webhookId": "2308f650-7d3a-4364-af3a-711e03ee2abd",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "GSEMSscu6roPnSCy",
          "name": "BAPPERIDA"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Auto Approve (S, T, TUBEL, CUTI)').first().json;\nconst INSTANSI_MAP = { bapperida: 'BAPPERIDA Sumba Barat', dpmptsp: 'DPMPTSP Sumba Barat' };\nconst instansi_id = d.instansi_id || 'bapperida';\nconst instansi_name = INSTANSI_MAP[instansi_id] || instansi_id.toUpperCase();\nconst jenis = d.row_jenis_base;\nconst em = { IZIN: '🙏', SAKIT: '🤒', TUGAS: '💼' }[jenis] || '📝';\nconst isApprove = d.action === 'APPROVE';\nconst icon = isApprove ? '✅' : '❌';\nconst label = isApprove ? 'DISETUJUI' : 'DITOLAK';\nconst text = `DIINFORMASIKAN BAHWA\\n━━━━━━━━━━━━━━━━━━\\n${icon} *STATUS: ${label}*\\n${em} *${jenis}* — ${d.tgl_range}\\n👤 *${d.row_nama}*\\n📝 ${d.row_ket || '—'}\\n━━━━━━━━━━━━━━━━━━\\n_Pengumuman dari Admin ${instansi_name}_`;\n\nconst pegawai = $input.all().map(i => i.json).filter(p => {\n  const id = String(p.id || '').trim();\n  const st = String(p.Status || p.status || 'AKTIF').toUpperCase();\n  return id && st !== 'NONAKTIF' && st !== 'INACTIVE';\n});\n\nreturn pegawai.map(p => ({ json: { chat_id: String(p.id), text } }));"
      },
      "id": "038c5dcb-dca4-467f-8d03-f613a36dfb19",
      "name": "Format Broadcast Approve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        368
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *, \"instansi_id\" FROM \"user_list\" WHERE \"instansi_id\" = COALESCE(NULLIF('{{ ($json.instansi_id).toString() }}', ''), 'bapperida')",
        "options": {}
      },
      "id": "a712e7f0-1419-48da-9222-749fa55cc570",
      "name": "Get Semua Pegawai",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"user_list\" SET \"Status\" = '{{ ($json.action === 'APPROVE' ? $json.row_jenis_base : 'AKTIF').toString().replace(/'/g, \"''\") }}' WHERE \"id\" = '{{ (String($json.row_id)).toString().replace(/'/g, \"''\") }}' RETURNING *",
        "options": {}
      },
      "name": "Update Status Approve",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "id": "ac5587bf-9f12-4f79-9c67-25efae45aa02",
      "position": [
        1088,
        368
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Proses Konfirmasi').first().json }];"
      },
      "id": "689d672f-cdcb-4cc7-b29e-e76fb62a7cee",
      "name": "Selesai Update Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Proses Konfirmasi').first().json }];"
      },
      "name": "Collapse Log Approve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "8c09ab12-9265-43e4-81a9-48df3388f6fd",
      "position": [
        640,
        272
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"Log_Absen\" (\"Nama\", \"NIP\", \"Tanggal\", \"Jam\", \"Jenis Absen\", \"Lokasi\", \"Ket\", \"koordinat\", \"ID\", \"request_id\", \"instansi_id\") VALUES ('{{ ($json.row_nama).toString().replace(/'/g, \"''\") }}','{{ ($json.row_nip).toString().replace(/'/g, \"''\") }}','{{ ($json.tanggal_this).toString().replace(/'/g, \"''\") }}','{{ ($json.row_jam).toString().replace(/'/g, \"''\") }}','{{ ($json.row_jenis_base).toString().replace(/'/g, \"''\") }}','-','{{ ($json.row_ket).toString().replace(/'/g, \"''\") }}','-','{{ ($json.row_id).toString().replace(/'/g, \"''\") }}', '{{ ($json.request_id).toString().replace(/'/g, \"''\") }}', COALESCE((SELECT instansi_id FROM user_list WHERE \"NIP\" = '{{ ($json.row_nip).toString().replace(/'/g, \"''\") }}' LIMIT 1), (SELECT instansi_id FROM user_list WHERE id::text = '{{ ($json.row_id).toString().replace(/'/g, \"''\") }}' LIMIT 1), 'bapperida')) RETURNING *",
        "options": {
          "queryBatching": "independently"
        }
      },
      "name": "Insert Log IZIN Approve",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "id": "a7a94435-e02d-4b47-bf7e-1a2afd81dbef",
      "position": [
        416,
        272
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Proses Konfirmasi').first().json }];"
      },
      "name": "Skip Insert (Reject)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "bd399893-e10e-45e2-b075-b9784b18ca00",
      "position": [
        640,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "APPROVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "is_approve"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is Approve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "id": "7e30852a-5125-48b9-a5d4-7caa1e07a94a",
      "position": [
        192,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst dates = (d.dates && d.dates.length) ? d.dates : [d.row_tgl_mulai].filter(Boolean);\nif (!dates.length) return [{json:{...d, tanggal_this:'', id_ket: (d.target_id_ket||'UNK') + '_01'}}];\n\nconst prefixMap = { IZIN:'IZN', SAKIT:'SKT', TUGAS:'TGS' };\nconst jenisBase = (d.row_jenis_base||'').toUpperCase();\nconst prefix = prefixMap[jenisBase] || jenisBase.slice(0,3);\nconst tglKey = (d.row_tgl_mulai||'').replace(/-/g,'');\n\nconst out = [];\ndates.forEach((tgl, i) => {\n  const suffix = String(i+1).padStart(2,'0');\n  const tglSuffix = tgl.replace(/-/g, '');\n  // 1. Catat Keterangan Utama (IZIN/SAKIT/TUGAS)\n  out.push({\n    json: {\n      ...d,\n      tanggal_this: tgl,\n      id_ket: `${prefix}${tglKey}_${d.row_id}_${suffix}`,\n      request_id: (d.request_id || '') + '_' + tglSuffix + suffix\n    }\n  });\n\n  // 2. Jika IZIN dan Selesai >= 14:30, Otomatis Catat PULANG\n  const jamSelesai = d.row_jam_selesai || '';\n  if (jenisBase === 'IZIN' && jamSelesai >= '14:30') {\n    out.push({\n      json: {\n        ...d,\n        tanggal_this: tgl,\n        row_jenis_base: 'PULANG',\n        row_jam: jamSelesai,\n        row_ket: `${d.row_ket} (Auto Pulang dari Izin Jam)`,\n        id_ket: `PLG${tglKey}_${d.row_id}_${suffix}`,\n        request_id: (d.request_id || '') + '_' + tglSuffix + suffix + '_PLG'\n      }\n    });\n  }\n});\nreturn out;"
      },
      "name": "Expand Log Approve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "0d5659a0-413c-446f-9537-c00752e4c95c",
      "position": [
        448,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Proses Konfirmasi').first().json }];"
      },
      "id": "e8d11f53-8158-4bec-af03-f94dc34c00fa",
      "name": "Selesai Update KET TEMP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        368
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"ket_temp\" SET \"Status\" = '{{ ($json.new_status).toString().replace(/'/g, \"''\") }}', \"Jenis Absen\" = '{{ ($json.new_jenis_absen).toString().replace(/'/g, \"''\") }}' WHERE \"ID_Ket\" = '{{ ($json.target_id_ket).toString().replace(/'/g, \"''\") }}' RETURNING *",
        "options": {}
      },
      "id": "b3e51a1d-e90c-47a1-ae42-fc5bc2cea4a8",
      "name": "Update KET TEMP Row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n// ket_temp = 1 row per pengajuan, matching = [ID_Ket]\nconst rows = Array.isArray(d.matching_ket_rows) ? d.matching_ket_rows.flat().map(String).filter(Boolean) : [String(d.target_id_ket)];\nreturn rows.map(idKet => ({ json: { ...d, target_id_ket: idKet } }));"
      },
      "id": "f2efb309-3b48-4e71-b5af-7e21a5d31350",
      "name": "Expand KET TEMP Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        368
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, message: $('Proses Konfirmasi').item.json.message }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "id": "b34d94f1-b0c9-4873-beb0-efff0dd1aeeb",
      "name": "Respond Fail Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -704,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "found"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3476fc79-7bab-42f8-b5b5-ca15feb96c8b",
      "name": "Is Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -928,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const d=$input.first().json;\nif(!d.ok) return [{json:d}];\nconst AUTO=['SAKIT','TUGAS','TUBEL','CUTI'];\nif(AUTO.includes(d.row_jenis_base)) return [{json:{...d,action:'APPROVE',new_jenis_absen:d.row_jenis_base,_auto:true}}];\nreturn [{json:d}];"
      },
      "id": "4ddf0a73-96c9-4970-a236-5e57e86e5736",
      "name": "Auto Approve (S, T, TUBEL, CUTI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const idKetRaw = $('Validasi Approve').item.json.id_ket;\nconst action   = $('Validasi Approve').item.json.action;\nconst jenis    = $('Validasi Approve').item.json.jenis;\nconst allRows  = $input.all();\n\n// Normalisasi: strip suffix _01/_02 jika ada (ket_temp simpan tanpa suffix)\nconst idKet = String(idKetRaw).replace(/_\\d{2}$/, '');\n\nconst match = allRows.find(r => String(r.json.ID_Ket||'').trim() === idKet.trim());\nif (!match) return [{json:{ok:false, message:'Data tidak ditemukan di ket_temp.'}}];\n\nconst r = match.json;\n\nconst tglMulai   = r.tgl_mulai || '';\nconst tglSelesai = r.tgl_selesai || tglMulai;\nconst tglRange   = r.tanggal || (tglMulai === tglSelesai ? tglMulai : `${tglMulai} s.d. ${tglSelesai}`);\n\n// Generate dates dari tgl_mulai sampai tgl_selesai\nconst dates = [];\nif (tglMulai) {\n  const start = new Date(tglMulai), end = new Date(tglSelesai||tglMulai);\n  for (let d = new Date(start); d <= end; d.setDate(d.getDate()+1))\n    dates.push(d.toISOString().split('T')[0]);\n}\nif (!dates.length) dates.push(tglMulai);\n\nconst nowStr = new Date().toLocaleString('en-US', {timeZone:'Asia/Makassar', hour12:false});\nconst now    = new Date(nowStr);\nconst tsStr  = `${now.getFullYear()}-${String(now.getMonth()+1).padStart(2,'0')}-${String(now.getDate()).padStart(2,'0')} ${String(now.getHours()).padStart(2,'0')}:${String(now.getMinutes()).padStart(2,'0')}`;\n\nconst newStatus     = action === 'APPROVE' ? 'DISETUJUI' : 'DITOLAK';\nconst newJenisAbsen = action === 'APPROVE' ? jenis : jenis + ' DITOLAK';\n\nreturn [{json:{\n  ok:                true,\n  target_id_ket:     idKet,\n  matching_ket_rows: [idKet],\n  dates,\n  tgl_range:         tglRange,\n  new_status:        newStatus,\n  new_jenis_absen:   newJenisAbsen,\n  action,\n  row_id:            String(r.ID_Pegawai || r.telegram_id || ''),\n  row_nama:          r.Nama || r.nama || '',\n  row_nip:           r.NIP  || r.nip  || '',\n  row_tgl_mulai:     tglMulai,\n  row_tgl_selesai:   tglSelesai,\n  row_jam:           r.Jam || r.diajukan_at || tsStr.split(' ')[1],\n  row_ket:           r.Ket || r.keterangan || '',\n  row_jenis_base:    jenis,\n  request_id:        r.request_id || '',\n  instansi_id:       r.instansi_id || '',\n  timestamp:         tsStr\n}}];"
      },
      "id": "4dc4d910-1c98-4654-9537-e4d96a45a59a",
      "name": "Proses Konfirmasi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        464
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"ket_temp\" WHERE \"Status\" = 'PENDING'",
        "options": {}
      },
      "id": "10111bee-65c0-429c-a88d-b8a4515ccf08",
      "name": "Get Ket Row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1600,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, message: $('Validasi Approve').item.json.message }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "id": "7859ed7f-061a-41ff-8965-979a1da342f3",
      "name": "Respond Fail Approve",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1600,
        656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "is_valid_a"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "038768ee-0013-431c-8b05-6ab026d3d7ab",
      "name": "Is Valid?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1824,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const body=$('CORS Ket Approve').first().json.body||{};\nlet ADMIN_IDS=[];\ntry{\n  const adminRows=$('Get Admin List Approve').all().map(i=>i.json);\n  ADMIN_IDS=adminRows.map(r=>parseInt(r.telegram_id||r.Telegram_ID||r.telegram_Id||0)).filter(id=>id>0);\n}catch(_){}\nif(!ADMIN_IDS.length) ADMIN_IDS=[1383864355];\nconst adminId=parseInt(body.admin_id||0);\nif(!ADMIN_IDS.includes(adminId)) return [{json:{ok:false,message:'Akses ditolak. Bukan admin.'}}];\nconst action=(body.action||'').toUpperCase();\nif(!['APPROVE','REJECT'].includes(action)) return [{json:{ok:false,message:'Action tidak valid.'}}];\nconst idKetApprove=String(body.id_ket||'').trim();\nif(!idKetApprove) return [{json:{ok:false,message:'id_ket wajib ada.'}}];\nconst jenis=(body.jenis||'').toUpperCase();\nif(!jenis) return [{json:{ok:false,message:'jenis wajib ada.'}}];\nreturn [{json:{ok:true,id_ket:idKetApprove,admin_id:adminId,action,jenis,tanggal:body.tanggal||''}}];"
      },
      "id": "480aec7d-fed9-4a37-952c-c5eba6a1fabc",
      "name": "Validasi Approve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS telegram_id, \"NIP\", instansi_id FROM user_list WHERE is_admin = true OR UPPER(role) IN ('SUPERADMIN', 'SUPER ADMIN')",
        "options": {}
      },
      "id": "1a21b81c-24e5-4360-a465-527f6e628f6a",
      "name": "Get Admin List Approve",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2272,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const method=$input.first().json.headers?.['x-forwarded-method']||$input.first().json.method||'';\nif(method==='OPTIONS'){$execution.respond({statusCode:200,headers:{'Access-Control-Allow-Origin':'*','Access-Control-Allow-Methods':'GET,POST,OPTIONS','Access-Control-Allow-Headers':'Content-Type,ngrok-skip-browser-warning,Accept,Authorization'},body:''});return[];}\nreturn $input.all();"
      },
      "id": "e5399266-ebb7-4efe-bb6e-ee31d6386a71",
      "name": "CORS Ket Approve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2496,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ket-approve",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "ebdd94e5-07af-4dbd-bd07-361bcfcf4be1",
      "name": "Ket Approve Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2720,
        560
      ],
      "webhookId": "ket-approve-0001"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1152,
        912
      ],
      "id": "fe32f697-c718-4caf-a829-f0b9a44d8e35",
      "name": "Respond Ket List"
    },
    {
      "parameters": {
        "jsCode": "const VALID_JENIS = ['IZIN', 'SAKIT', 'TUGAS'];\n\nconst rows = $input.all()\n  .map(i => {\n    const r = i.json;\n\n    // Normalisasi field — handle schema baru (Supabase) dan lama (GSheets)\n    const id_ket     = r.ID_Ket      || r.id_ket     || '';\n    const user_id    = String(r.telegram_id || r.ID_Pegawai || r.ID || r.id || '').trim();\n    const nama       = r.nama        || r.Nama        || '';\n    const nip        = r.nip         || r.NIP         || '';\n    const tanggal    = r.tanggal     || r.Tanggal     || '';\n    const jam        = r.diajukan_at || r.Jam         || '';\n    const jenis_raw  = String(r.jenis || r['Jenis Absen'] || r.jenis_absen || '').trim().toUpperCase();\n    const keterangan = r.keterangan  || r.Ket         || '';\n    const status     = String(r.status || r.Status    || '').trim();\n\n    // Buang row yang tidak punya user_id atau jenis valid\n    if (!user_id || !jenis_raw) return null;\n\n    // Normalisasi jenis: hapus suffix status (PENDING, DITOLAK, DISETUJUI)\n    const jenis_base = jenis_raw\n      .replace(' PENDING','').replace(' DITOLAK','')\n      .replace(' TOLAK','').replace(' DISETUJUI','').trim();\n    if (!VALID_JENIS.includes(jenis_base)) return null;\n\n    return {\n      id_ket,\n      user_id,\n      nama,\n      nip,\n      tanggal,\n      jam,\n      jenis: jenis_base,\n      keterangan,\n      status,\n    };\n  })\n  .filter(Boolean);\n\nreturn [{ json: { ok: true, data: rows, count: rows.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        912
      ],
      "id": "107366b9-8b42-426c-a159-6ff2ef028e02",
      "name": "Format Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Parse Query').item.json.is_admin_request }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "is-admin"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1824,
        912
      ],
      "id": "e385b6f3-f45d-4ba5-ad89-5498ee92c321",
      "name": "Is Admin Request?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"ket_temp\" WHERE \"Status\" = 'PENDING' AND instansi_id = '{{ $('Ket List Webhook').item.json.query.instansi_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1600,
        816
      ],
      "id": "d0f8805e-e2c7-4c11-ad42-593852140a9e",
      "name": "Get All Ket",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"ket_temp\" WHERE \"ID_Pegawai\" = {{ ($json.user_id).toString().replace(/'/g, \"''\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1600,
        1008
      ],
      "id": "87c59f34-b686-4ac8-ab62-99e0ade5b09f",
      "name": "Get Ket by User",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || $input.first().json.params || {};\nconst userId       = String(q.user_id || '').trim();\nconst statusFilter = String(q.status  || '').trim().toUpperCase();\n// Admin request: ada is_admin=true atau tidak ada user_id tapi ada status filter\nconst isAdmin = q.is_admin === 'true' || q.is_admin === true || (!userId && statusFilter === 'PENDING');\nreturn [{ json: {\n  user_id:          userId,\n  status_filter:    statusFilter,\n  is_admin_request: isAdmin\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        912
      ],
      "id": "b48a6c21-9b00-4636-bb90-7e8f3255fca3",
      "name": "Parse Query"
    },
    {
      "parameters": {
        "jsCode": "const method=$input.first().json.headers?.['x-forwarded-method']||$input.first().json.method||'';\nif(method==='OPTIONS'){$execution.respond({statusCode:200,headers:{'Access-Control-Allow-Origin':'*','Access-Control-Allow-Methods':'GET,POST,OPTIONS','Access-Control-Allow-Headers':'Content-Type,ngrok-skip-browser-warning,Accept,Authorization'},body:''});return[];}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2272,
        912
      ],
      "id": "4b4e54a5-95f0-43ab-af3d-a6bc168a7f68",
      "name": "CORS Ket List"
    },
    {
      "parameters": {
        "path": "ket-list",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2496,
        912
      ],
      "id": "29ae663c-25ab-4a71-aef6-f762ef2f4886",
      "name": "Ket List Webhook",
      "webhookId": "ket-list-0001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"user_list\" SET \"Status\" = 'AKTIF' WHERE \"id\" = {{ ($json.user_id).toString().replace(/'/g, \"''\") }} RETURNING *",
        "options": {}
      },
      "name": "Update Status Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "id": "24525b4c-144e-4a89-8cd1-dbba6647cc8c",
      "position": [
        192,
        1216
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:false,message:$('Verifikasi Row1').item.json.message}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "id": "7ec490c0-2569-495f-8bc7-350c5df4e4f6",
      "name": "Respond Fail Verify1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -928,
        1408
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "ok2"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "434f5c17-0030-47ac-8197-3b9a59aa1133",
      "name": "Is Verified?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1152,
        1312
      ]
    },
    {
      "parameters": {
        "jsCode": "const idKet  = $('Parse Delete').item.json.id_ket;\nconst userId = $('Parse Delete').item.json.user_id;\nconst allRows = $input.all();\nconst match = allRows.find(r =>\n  String(r.json.ID_Ket||'').trim() === String(idKet).trim() &&\n  String(r.json.telegram_id||'').trim() === String(userId).trim()\n);\nif (!match) return [{json:{ok:false,message:'Data tidak ditemukan atau bukan milik Anda.'}}];\nif ((match.json.status||'').toUpperCase() !== 'PENDING')\n  return [{json:{ok:false,message:'Hanya keterangan PENDING yang bisa dihapus.'}}];\nconst tglMulai   = String(match.json.tanggal||$('Parse Delete').first().json.tgl_mulai||'');\nconst tglSelesai = String($('Parse Delete').first().json.tgl_selesai||tglMulai);\nconst dates=[];\nfor(let d=new Date(tglMulai),e=new Date(tglSelesai);d<=e;d.setDate(d.getDate()+1))\n  dates.push(d.toISOString().split('T')[0]);\nconst idPrefix = String(idKet).split('_').slice(0,2).join('_');\nconst idsToDelete = allRows.filter(r=>String(r.json.ID_Ket||'').startsWith(idPrefix)).map(r=>String(r.json.ID_Ket));\nreturn [{json:{...match.json,ok:true,user_id:userId,ket_temp_row:idKet,ids_to_delete:idsToDelete,dates}}];"
      },
      "id": "62a72d12-8861-4772-8977-74d93ef7b908",
      "name": "Verifikasi Row1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        1312
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"ket_temp\" WHERE \"ID_Pegawai\" = '{{ ($('Parse Delete').item.json.user_id).toString().replace(/'/g, \"''\") }}'",
        "options": {}
      },
      "id": "cf841662-a429-4677-9416-fb24ab2d2fcc",
      "name": "Get Rows Milik User1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1600,
        1312
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:true,message:\"Keterangan dan data log absensi berhasil dihapus.\"}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "id": "97bcd996-eada-46f5-a99f-be702ded6774",
      "name": "Respond OK Delete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        640,
        1216
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM \"ket_temp\" WHERE \"ID_Ket\" = {{ ($json._id_ket_to_delete).toString().replace(/'/g, \"''\") }} RETURNING *",
        "options": {}
      },
      "id": "13ab90f0-ebf4-485a-ae27-5f85e483a0ee",
      "name": "Delete Row KET TEMP",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        1216
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Expand Log Delete Rows').first().json }];"
      },
      "id": "fcc0b6e7-3db4-4784-99a8-d5e5b244e977",
      "name": "Collapse Setelah Delete Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        1216
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM \"Log_Absen\" WHERE \"id\" = {{ ($json.id).toString().replace(/'/g, \"''\") }} RETURNING *",
        "options": {}
      },
      "id": "faf3d071-fbfd-448b-a1d2-750689b966fd",
      "name": "Delete Log Absensi Row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        1216
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d=$input.first().json;\nconst ids=d.ids_to_delete||[d.ket_temp_row];\nif(!ids.length) return [{json:{...d,_id_ket_to_delete:d.ket_temp_row,_skip_log:true}}];\nreturn ids.map((idKet,i)=>({json:{...d,_id_ket_to_delete:idKet,_is_last:i===ids.length-1}}));"
      },
      "id": "fa0b4e81-11a4-40ad-a09c-0f3d71b6d643",
      "name": "Expand Log Delete Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        1216
      ]
    },
    {
      "parameters": {
        "jsCode": "const verif=$('Verifikasi Row1').first().json;\nconst idPrefix=verif.ids_to_delete?String(verif.ID_Ket||verif.id_ket||'').split('_').slice(0,2).join('_'):'';\nreturn [{json:{...verif,id_ket_prefix:idPrefix,ids_to_delete:verif.ids_to_delete||[verif.ket_temp_row],row_numbers_to_delete:[]}}];"
      },
      "id": "33830940-3da6-4331-a795-0a392a20447d",
      "name": "Filter Log Rows To Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        1216
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"Log_Absen\" WHERE \"ID\" = '{{ ($json.user_id).toString().replace(/'/g, \"''\") }}'",
        "options": {}
      },
      "id": "903ca068-c5dd-41d1-8c4a-6a89c0e8f5d1",
      "name": "Get Log Absensi User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -928,
        1216
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:false,message:$('Parse Delete').item.json.message}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "id": "76f7f664-8801-4ed6-9ccf-218042c08b5f",
      "name": "Respond Fail Delete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1600,
        1504
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "ok"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0e6c07c0-92e1-4d0e-a8c7-569adab81588",
      "name": "Is Valid?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1824,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "const body=$input.first().json.body||{};\nconst userId=String(body.user_id||'').trim();\nconst rowNum=parseInt(body.row_number||0);\nconst tglMulai=String(body.tgl_mulai||body.tanggal||'').trim();\nconst tglSelesai=String(body.tgl_selesai||body.tanggal||'').trim();\nif(!userId) return [{json:{ok:false,message:'user_id wajib ada.'}}];\nif(!rowNum)  return [{json:{ok:false,message:'row_number tidak valid.'}}];\nconst idKet = String(body.id_ket || '').trim();\nreturn [{json:{ok:true,user_id:userId,id_ket:idKet,tgl_mulai:tglMulai,tgl_selesai:tglSelesai}}];"
      },
      "id": "4edfde39-73cb-40cb-ac5e-423f27817eae",
      "name": "Parse Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "const method=$input.first().json.headers?.['x-forwarded-method']||$input.first().json.method||'';\nif(method==='OPTIONS'){$execution.respond({statusCode:200,headers:{'Access-Control-Allow-Origin':'*','Access-Control-Allow-Methods':'GET,POST,OPTIONS','Access-Control-Allow-Headers':'Content-Type,ngrok-skip-browser-warning,Accept,Authorization'},body:''});return[];}\nreturn $input.all();"
      },
      "id": "c6d2b007-ff94-4735-9b27-77ed71a9bed2",
      "name": "CORS Ket Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2272,
        1408
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ket-delete",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "9e387743-af5b-42db-8295-822198839b3c",
      "name": "Ket Delete Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2496,
        1408
      ],
      "webhookId": "ket-delete-0001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "ok"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1824,
        1920
      ],
      "id": "e90a12c1-9c84-406b-8a7c-0dd7cd0d0594",
      "name": "Is Valid?1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:true,message:\"Keterangan berhasil diperbarui.\"}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -704,
        1728
      ],
      "id": "3e0e6abd-1c8b-48de-8861-a25d8e8c87b6",
      "name": "Respond OK Edit"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"ket_temp\" SET \"Tanggal\" = {{ ($('Validasi Edit').item.json.tgl_mulai).toString().replace(/'/g, \"''\") }}, \"Jenis Absn\" = {{ ($('Validasi Edit').item.json.jenis).toString().replace(/'/g, \"''\") }}, \"Ket\" = {{ ($('Validasi Edit').item.json.keterangan).toString().replace(/'/g, \"''\") }}, \"Status\" = 'PENDING' WHERE \"ID_Ket\" = {{ ($('Validasi Edit').item.json.id_ket).toString().replace(/'/g, \"''\") }} RETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -928,
        1728
      ],
      "id": "28294be3-4e99-4746-b61b-55864499d075",
      "name": "Update Row KET TEMP",
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:false,message:$('Verifikasi Row').item.json.message}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -928,
        1920
      ],
      "id": "7907f55e-883a-4434-92ed-191ad5b15351",
      "name": "Respond Fail Verify"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "ok2"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1152,
        1824
      ],
      "id": "06f022d5-fe88-43b1-81ab-7d66277b0472",
      "name": "Is Verified?"
    },
    {
      "parameters": {
        "jsCode": "const idKet  = $('Validasi Edit').item.json.id_ket;\nconst userId = $('Validasi Edit').item.json.user_id;\nconst match  = $input.all().find(r =>\n  String(r.json.ID_Ket||'').trim() === String(idKet).trim() &&\n  String(r.json.telegram_id||'').trim() === String(userId).trim()\n);\nif (!match) return [{json:{ok:false,message:'Data tidak ditemukan atau bukan milik Anda.'}}];\nif ((match.json.status||'').toUpperCase() !== 'PENDING')\n  return [{json:{ok:false,message:'Hanya keterangan PENDING yang bisa diedit.'}}];\nreturn [{json:{...match.json, ok:true}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        1824
      ],
      "id": "423f4af9-f282-4b9a-b684-e71e03419e98",
      "name": "Verifikasi Row"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"ket_temp\" WHERE \"telegram_id\" = {{ ($('Validasi Edit').item.json.user_id).toString().replace(/'/g, \"''\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1600,
        1824
      ],
      "id": "4a76f18d-2559-4409-adb8-69519454c714",
      "name": "Get Rows Milik User",
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:false,message:$('Validasi Edit').item.json.message}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1600,
        2016
      ],
      "id": "2799de07-89f7-4e9c-ae9a-0b2aa1774f55",
      "name": "Respond Fail Edit"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst userId = String(body.user_id||'').trim();\nconst rowNum = parseInt(body.row_number||0);\nconst jenis  = (body.jenis||'').toUpperCase();\nconst tglMulai   = body.tgl_mulai||'';\nconst tglSelesai = body.tgl_selesai||'';\nconst keterangan = (body.keterangan||'').trim();\nconst jenisValid = ['IZIN','SAKIT','TUGAS','TUBEL','CUTI'];\nif(!userId)    return [{json:{ok:false,message:'user_id wajib ada.'}}];\nif(!rowNum)    return [{json:{ok:false,message:'row_number tidak valid.'}}];\nif(!jenisValid.includes(jenis)) return [{json:{ok:false,message:'Jenis tidak valid. Pilih: IZIN, SAKIT, TUGAS, TUBEL, atau CUTI.'}}];\nif(!tglMulai||!tglSelesai) return [{json:{ok:false,message:'Tanggal wajib diisi.'}}];\nif(!keterangan) return [{json:{ok:false,message:'Keterangan tidak boleh kosong.'}}];\nconst start=new Date(tglMulai),end=new Date(tglSelesai);\nif(end<start) return [{json:{ok:false,message:'Tanggal selesai tidak boleh lebih awal.'}}];\nconst idKet = String(body.id_ket || '').trim();\nif(!idKet) return [{json:{ok:false,message:'id_ket wajib ada.'}}];\nreturn [{json:{ok:true,id_ket:idKet,user_id:userId,row_number:rowNum,jenis,tgl_mulai:tglMulai,tgl_selesai:tglSelesai,keterangan}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        1920
      ],
      "id": "e35efb9f-a346-418a-8dae-33dc4ee77ea9",
      "name": "Validasi Edit"
    },
    {
      "parameters": {
        "jsCode": "const method=$input.first().json.headers?.['x-forwarded-method']||$input.first().json.method||'';\nif(method==='OPTIONS'){$execution.respond({statusCode:200,headers:{'Access-Control-Allow-Origin':'*','Access-Control-Allow-Methods':'GET,POST,OPTIONS','Access-Control-Allow-Headers':'Content-Type,ngrok-skip-browser-warning,Accept,Authorization'},body:''});return[];}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2272,
        1920
      ],
      "id": "9f6129fb-865b-47a6-bb6a-d0d3855672e9",
      "name": "CORS Ket Edit"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ket-edit",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2496,
        1920
      ],
      "id": "3c796839-3601-4f64-946a-108f62fa42be",
      "name": "Ket Edit Webhook",
      "webhookId": "ket-edit-0001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"user_list\" SET \"Status\" = '{{ ($json[\"Jenis Absen\"]).toString().replace(/'/g, \"''\") }}' WHERE \"id\" = '{{ ($json.ID_Pegawai).toString().replace(/'/g, \"''\") }}' RETURNING *",
        "options": {}
      },
      "name": "Update Status Auto B",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "id": "1d925494-e5f9-4d77-a6dc-bf7162550686",
      "position": [
        320,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"user_list\" SET \"Status\" = '{{ ($json[\"Jenis Absen\"]).toString().replace(/'/g, \"''\") }}' WHERE \"id\" = '{{ ($json.ID_Pegawai).toString().replace(/'/g, \"''\") }}' RETURNING *",
        "options": {}
      },
      "name": "Update Status Auto",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "id": "ae432e7b-4a86-4a69-95a0-a450caf5a2e0",
      "position": [
        992,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "b185b2e4-d7a0-4039-8245-b51cc04ef76d",
      "name": "Kirim Broadcast Tanpa Bukti",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        -16
      ],
      "webhookId": "aut00022-aut0-aut0-aut0-aut000000022",
      "credentials": {
        "telegramApi": {
          "id": "105ym9gulSlVnPHh",
          "name": "DPMPTSP"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Collapse Auto Tanpa Bukti').first().json;\nconst INSTANSI_MAP = { bapperida: 'BAPPERIDA Sumba Barat', dpmptsp: 'DPMPTSP Sumba Barat' };\nconst instansi_id = d.instansi_id || 'bapperida';\nconst instansi_name = INSTANSI_MAP[instansi_id] || instansi_id.toUpperCase();\nconst jenis = d.jenis;\nconst em = jenis === 'SAKIT' ? '🤧' : '💼';\nconst label = jenis === 'SAKIT' ? 'SAKIT' : 'SURAT TUGAS / DINAS LUAR (DL)';\nconst text = `${em} *INFO ${label} — TERCATAT OTOMATIS*\\n━━━━━━━━━━━━━━━━━━\\n👤 *${d.nama}*\\n🪪 NIP: ${d.nip}\\n🏢 ${d.jabatan||'—'}\\n\\n📅 *Tanggal* : ${d.tgl_range}\\n⏱️ *Durasi*  : ${d.durasi} hari\\n📝 *Keterangan*:\\n${d.keterangan}\\n━━━━━━━━━━━━━━━━━━\\n_Info otomatis dari sistem ${instansi_name}_`;\nconst pegawai = $input.all().map(i=>i.json).filter(p => String(p.status||p.Status||'AKTIF').toUpperCase() !== 'NONAKTIF' && String(p.id||'').trim());\nreturn pegawai.map(p => ({ json: { chat_id: String(p.id), text } }));"
      },
      "id": "1d2ef539-c0be-454b-bd00-b9c3c8526469",
      "name": "Format Broadcast Tanpa Bukti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *, \"instansi_id\" FROM public.view_user_mgmt WHERE \"instansi_id\" = COALESCE(NULLIF('{{ ($json.instansi_id).toString() }}', ''), 'bapperida')",
        "options": {}
      },
      "id": "66b42195-80eb-496b-9dc5-e9146ec89282",
      "name": "Get Semua Pegawai Broadcast B",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        -16
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: \"Keterangan \" + $(\"Validasi & Cek Bukti\").first().json.jenis + \" berhasil tercatat otomatis.\", status: \"APPROVED\" }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "id": "dff48b98-79a9-4bb5-9e2d-5a0e3517bc09",
      "name": "Respond OK Auto Tanpa Bukti",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        96,
        -16
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Expand Auto Tanpa Bukti').first().json }];"
      },
      "id": "cb66cb0f-013c-4844-ace7-37e8853515d1",
      "name": "Collapse Auto Tanpa Bukti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"ket_temp\" (\"ID_Ket\", \"ID_Pegawai\", \"Nama\", \"NIP\", \"Tanggal\", \"tgl_mulai\", \"tgl_selesai\", \"Jam\", \"Jenis Absen\", \"Ket\", \"Status\", \"request_id\", \"instansi_id\") VALUES ('{{ ($json.id_ket).toString().replace(/'/g, \"''\") }}',{{ ($json.user_id).toString().replace(/'/g, \"''\") }},'{{ ($json.nama).toString().replace(/'/g, \"''\") }}','{{ ($json.nip).toString().replace(/'/g, \"''\") }}','{{ ($json.tanggal).toString().replace(/'/g, \"''\") }}','{{ ($json.tgl_mulai).toString().replace(/'/g, \"''\") }}','{{ ($json.tgl_selesai).toString().replace(/'/g, \"''\") }}','{{ ($json.jam).toString().replace(/'/g, \"''\") }}','{{ ($json.jenis).toString().replace(/'/g, \"''\") }}','{{ ($json.keterangan).toString().replace(/'/g, \"''\") }}','DISETUJUI', '{{ ($('Keterangan').first().json.body.request_id).toString().replace(/'/g, \"''\") }}', COALESCE((SELECT instansi_id FROM user_list WHERE \"NIP\" = '{{ (@{nodes=System.Object[]; connections=; pinData=; meta=}.nip).toString().replace(/'/g, \"''\") }}' LIMIT 1), (SELECT instansi_id FROM user_list WHERE id::text = '{{ (@{nodes=System.Object[]; connections=; pinData=; meta=}.user_id).toString().replace(/'/g, \"''\") }}' LIMIT 1), 'bapperida') RETURNING *",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "4565f1fd-4918-42ea-91b4-338ec6aa5e34",
      "name": "Simpan ket_temp Auto Tanpa Bukti",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -128,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"Log_Absen\" (\"Nama\", \"NIP\", \"Tanggal\", \"Jam\", \"Jenis Absen\", \"Lokasi\", \"Ket\", \"koordinat\", \"ID\", \"request_id\", \"instansi_id\") VALUES ('{{ ($json.nama).toString().replace(/'/g, \"''\") }}','{{ ($json.nip).toString().replace(/'/g, \"''\") }}','{{ ($json.tanggal).toString().replace(/'/g, \"''\") }}','{{ ($json.jam).toString().replace(/'/g, \"''\") }}','{{ ($json.jenis).toString().replace(/'/g, \"''\") }}','-','{{ ($json.keterangan).toString().replace(/'/g, \"''\") }}','-','{{ ($json.user_id).toString().replace(/'/g, \"''\") }}', '{{ ($('Keterangan').first().json.body.request_id).toString().replace(/'/g, \"''\") }}', COALESCE((SELECT instansi_id FROM user_list WHERE \"NIP\" = '{{ ($json.nip).toString().replace(/'/g, \"''\") }}' LIMIT 1), (SELECT instansi_id FROM user_list WHERE id::text = '{{ ($json.user_id).toString().replace(/'/g, \"''\") }}' LIMIT 1), 'bapperida')) RETURNING *",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "fc3a4cb6-8b62-40f2-b555-2fc5b98fa596",
      "name": "Simpan Log Auto Tanpa Bukti",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -576,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst prefixMap = { SAKIT: 'SKT', TUGAS: 'TGS' };\nconst prefix = prefixMap[d.jenis] || d.jenis.slice(0, 3).toUpperCase();\nconst tglKey = (d.tgl_mulai || '').replace(/-/g, '');\nreturn d.dates.map((tgl, i) => ({\n  json: {\n    ...d,\n    tanggal: tgl,\n    drive_link: '',\n    id_ket: `${prefix}${tglKey}_${d.user_id}_${String(i+1).padStart(2,'0')}`,\n    request_id: (d.request_id || '') + '_' + tgl.replace(/-/g, '')\n  }\n}));"
      },
      "id": "e575f914-cdde-4295-bb4f-6aeb344b5e3c",
      "name": "Expand Auto Tanpa Bukti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Format Broadcast Ada Bukti').item.json.chat_id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ '📎 Bukti ' + ($('Validasi & Cek Bukti').first().json.jenis === 'SAKIT' ? 'Izin Sakit' : 'Surat Tugas') + ' — ' + $('Validasi & Cek Bukti').first().json.nama }} ",
          "parse_mode": "Markdown"
        }
      },
      "id": "1486e7dc-61e3-4620-8d95-734d4e2a93fe",
      "name": "Kirim Foto Broadcast ke Semua",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1888,
        -112
      ],
      "webhookId": "aut00014-aut0-aut0-aut0-aut000000014",
      "credentials": {
        "telegramApi": {
          "id": "GSEMSscu6roPnSCy",
          "name": "BAPPERIDA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "bukti_base64",
        "options": {}
      },
      "id": "d558b999-889b-4aaa-bb29-1c8a693916e8",
      "name": "Convert Bukti Broadcast",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1664,
        -112
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "d3d7b16a-687b-40a5-9610-b6b4e9c87bcb",
      "name": "Kirim Broadcast Ada Bukti",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1664,
        -304
      ],
      "webhookId": "aut00012-aut0-aut0-aut0-aut000000012",
      "credentials": {
        "telegramApi": {
          "id": "GSEMSscu6roPnSCy",
          "name": "BAPPERIDA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Collapse Auto Ada Bukti').first().json;\nconst INSTANSI_MAP = { bapperida: 'BAPPERIDA Sumba Barat', dpmptsp: 'DPMPTSP Sumba Barat' };\nconst instansi_id = d.instansi_id || 'bapperida';\nconst instansi_name = INSTANSI_MAP[instansi_id] || instansi_id.toUpperCase();\nconst driveLink = d.drive_link || '';\nconst jenis = d.jenis;\nconst em = jenis === 'SAKIT' ? '🤧' : '💼';\nconst label = jenis === 'SAKIT' ? 'SAKIT' : 'SURAT TUGAS / DINAS LUAR (DL)';\nconst text = `${em} *INFO ${label} — TERCATAT OTOMATIS*\\n━━━━━━━━━━━━━━━━━━\\n👤 *${d.nama}*\\n🪪 NIP: ${d.nip}\\n🏢 ${d.jabatan||'—'}\\n\\n📅 *Tanggal* : ${d.tgl_range}\\n⏱️ *Durasi*  : ${d.durasi} hari\\n📝 *Keterangan*:\\n${d.keterangan}\\n` + (driveLink ? `📎 *Bukti*   : [Lihat di Google Drive](${driveLink})\\n` : '') + `━━━━━━━━━━━━━━━━━━\\n_Info otomatis dari sistem ${instansi_name}_`;\nconst pegawai = $input.all().map(i=>i.json).filter(p => String(p.status||p.Status||'AKTIF').toUpperCase() !== 'NONAKTIF' && String(p.id||'').trim());\nreturn pegawai.map(p => ({ json: { chat_id: String(p.id), text, bukti_base64: $('Keterangan').first().json.body.bukti_base64 || '' } }));"
      },
      "id": "6f103fb2-e0f5-4003-a2f9-aec0faaaa408",
      "name": "Format Broadcast Ada Bukti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *, \"instansi_id\" FROM public.view_user_mgmt WHERE \"instansi_id\" = COALESCE(NULLIF('{{ ($json.instansi_id).toString() }}', ''), 'bapperida')",
        "options": {}
      },
      "id": "8e6f4bf6-6152-47d0-9ba8-d991e7aa5b7b",
      "name": "Get Semua Pegawai Broadcast A",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        -208
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: \"Keterangan \" + $(\"Validasi & Cek Bukti\").first().json.jenis + \" berhasil tercatat otomatis.\", status: \"APPROVED\" }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "id": "948f1446-16fd-4c93-89c7-8038b2b3e352",
      "name": "Respond OK Auto Ada Bukti",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        -208
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Expand Auto Ada Bukti').first().json }];"
      },
      "id": "e896b1a1-46af-4a2d-8fc3-56038d207c8a",
      "name": "Collapse Auto Ada Bukti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"ket_temp\" (\"ID_Ket\", \"ID_Pegawai\", \"Nama\", \"NIP\", \"Tanggal\", \"tgl_mulai\", \"tgl_selesai\", \"Jam\", \"Jenis Absen\", \"Ket\", \"Status\", \"drive_link\", \"request_id\", \"instansi_id\") VALUES ('{{ ($json.id_ket).toString().replace(/'/g, \"''\") }}','{{ ($json.user_id).toString().replace(/'/g, \"''\") }}','{{ ($json.nama).toString().replace(/'/g, \"''\") }}','{{ ($json.nip).toString().replace(/'/g, \"''\") }}','{{ ($json.tanggal).toString().replace(/'/g, \"''\") }}','{{ ($json.tgl_mulai).toString().replace(/'/g, \"''\") }}','{{ ($json.tgl_selesai).toString().replace(/'/g, \"''\") }}','{{ ($json.jam).toString().replace(/'/g, \"''\") }}','{{ ($json.jenis).toString().replace(/'/g, \"''\") }}','{{ ($json.keterangan).toString().replace(/'/g, \"''\") }}','DISETUJUI','{{ ($json.drive_link).toString().replace(/'/g, \"''\") }}', '{{ ($('Keterangan').first().json.body.request_id).toString().replace(/'/g, \"''\") }}', COALESCE((SELECT instansi_id FROM user_list WHERE \"NIP\" = '{{ (@{nodes=System.Object[]; connections=; pinData=; meta=}.nip).toString().replace(/'/g, \"''\") }}' LIMIT 1), (SELECT instansi_id FROM user_list WHERE id::text = '{{ (@{nodes=System.Object[]; connections=; pinData=; meta=}.user_id).toString().replace(/'/g, \"''\") }}' LIMIT 1), 'bapperida') RETURNING *",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "c1d2c59c-1eea-488b-a7b8-f1f5ff426340",
      "name": "Simpan ket_temp Auto Ada Bukti",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"Log_Absen\" (\"Nama\", \"NIP\", \"Tanggal\", \"Jam\", \"Jenis Absen\", \"Lokasi\", \"Ket\", \"koordinat\", \"ID\", \"request_id\", \"instansi_id\") VALUES ('{{ ($json.nama).toString().replace(/'/g, \"''\") }}','{{ ($json.nip).toString().replace(/'/g, \"''\") }}','{{ ($json.tanggal).toString().replace(/'/g, \"''\") }}','{{ ($json.jam).toString().replace(/'/g, \"''\") }}','{{ ($json.jenis).toString().replace(/'/g, \"''\") }}','-','{{ ($json.keterangan + \" | Drive: \" + $json.drive_link).toString().replace(/'/g, \"''\") }}','-','{{ ($json.user_id).toString().replace(/'/g, \"''\") }}', '{{ ($json.request_id).toString().replace(/'/g, \"''\") }}', COALESCE((SELECT instansi_id FROM user_list WHERE \"NIP\" = '{{ ($json.nip).toString().replace(/'/g, \"''\") }}' LIMIT 1), (SELECT instansi_id FROM user_list WHERE id::text = '{{ ($json.user_id).toString().replace(/'/g, \"''\") }}' LIMIT 1), 'bapperida')) RETURNING *",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "403ea481-ca2e-425c-96b9-d99b1f4a4061",
      "name": "Simpan Log Auto Ada Bukti",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const driveLink = $input.first().json.webViewLink || $input.first().json.webContentLink || '';\nconst d = $('Validasi & Cek Bukti').first().json;\nconst prefixMap = { SAKIT: 'SKT', TUGAS: 'TGS' };\nconst prefix = prefixMap[d.jenis] || d.jenis.slice(0, 3).toUpperCase();\nconst tglKey = (d.tgl_mulai || '').replace(/-/g, '');\nreturn d.dates.map((tgl, i) => ({\n  json: {\n    ...d,\n    tanggal: tgl,\n    drive_link: driveLink,\n    id_ket: `${prefix}${tglKey}_${d.user_id}_${String(i+1).padStart(2,'0')}`,\n    request_id: (d.request_id || '') + '_' + tgl.replace(/-/g, '')\n  }\n}));"
      },
      "id": "01829a5e-ad76-4eba-a0de-4106814d519c",
      "name": "Expand Auto Ada Bukti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -208
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Validasi & Cek Bukti').first().json.user_id }}_{{ $('Validasi & Cek Bukti').first().json.tgl_mulai }}_{{ $('Validasi & Cek Bukti').first().json.tgl_selesai }}_{{ $('Validasi & Cek Bukti').first().json.jenis }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1bc8fIt6tW5Bj9mLW6OD-lG-jkcaM9cGq",
          "mode": "list",
          "cachedResultName": "Bukti Keterangan Absensi"
        },
        "options": {}
      },
      "id": "480da0d9-fd51-4a0d-a1a1-fa5da9ffbb45",
      "name": "Upload GDrive Auto",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -352,
        -208
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "53IL2urNBWm95sLS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.bukti_base64",
        "options": {}
      },
      "id": "cdc40cd1-46da-46e6-9a13-19b69d635f51",
      "name": "Convert to File Auto",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -576,
        -208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set_ba",
              "name": "body.bukti_base64",
              "value": "={{ $('Keterangan').first().json.body.bukti_base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e7e10aba-1c40-4314-b600-4be0b8b8fc37",
      "name": "Set Bukti Auto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        -208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ada_bukti }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "ab_auto"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ee46204e-9545-4d22-b60f-5d106c5583eb",
      "name": "Ada Bukti? Auto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1024,
        -112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: \"Pengajuan IZIN berhasil dikirim ke admin untuk disetujui.\", status: \"PENDING\" }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "id": "55300663-b013-4731-82a1-ce2645f3837a",
      "name": "Respond OK IZIN PENDING Tanpa Bukti",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        -400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "86b1d26f-3cce-4612-9dc4-282dc98c0aa7",
      "name": "Kirim ke Admin Tanpa Bukti",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -400
      ],
      "webhookId": "izn00018-izn0-izn0-izn0-izn000000018",
      "credentials": {
        "telegramApi": {
          "id": "GSEMSscu6roPnSCy",
          "name": "BAPPERIDA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Collapse IZIN Tanpa Bukti').first().json;\nconst INSTANSI_MAP = { bapperida: 'BAPPERIDA Sumba Barat', dpmptsp: 'DPMPTSP Sumba Barat' };\nconst instansi_id = d.instansi_id || 'bapperida';\nconst instansi_name = INSTANSI_MAP[instansi_id] || instansi_id.toUpperCase();\nconst text = `🙏 *PENGAJUAN IZIN — BUTUH KONFIRMASI ADMIN*\\n━━━━━━━━━━━━━━━━━━\\n👤 *${d.nama}*\\n🪪 NIP: ${d.nip}\\n🏢 ${d.jabatan||'—'}\\n\\n📅 *Tanggal* : ${d.tgl_range}\\n⏱️ *Durasi*  : ${d.durasi} hari\\n📝 *Keterangan*:\\n${d.keterangan}\\n━━━━━━━━━━━━━━━━━━\\n_Buka Panel Admin untuk Menyetujui / Menolak._`;\nlet adminIds = [];\ntry { const adminRows = $('Get Admin List Tanpa Bukti').all().map(i => i.json); adminIds = adminRows.map(r => parseInt(r.telegram_id||r.Telegram_ID||r.telegram_Id||0)).filter(id => id > 0); } catch(_) {}\nif (!adminIds.length) adminIds = [1383864355];\nreturn adminIds.map(id => ({ json: { chat_id: String(id), text, ada_bukti: false, instansi_id } }));"
      },
      "id": "33c1a53f-b243-4dcd-aebf-74b011f37498",
      "name": "Format Notif Admin Tanpa Bukti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS telegram_id, \"NIP\", instansi_id FROM user_list WHERE is_admin = true AND (instansi_id = COALESCE(NULLIF('{{ ($('Simpan ket_temp IZIN Tanpa Bukti').item.json.instansi_id).toString() }}', ''), 'bapperida') OR UPPER(role) IN ('SUPERADMIN', 'SUPER ADMIN'))",
        "options": {}
      },
      "id": "45e2a51a-7616-4d87-b897-d0f3414bdc7b",
      "name": "Get Admin List Tanpa Bukti",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -128,
        -400
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Expand IZIN Tanpa Bukti').first().json }];"
      },
      "id": "3c7a3570-405e-4e4f-a007-4cbbb1381fa8",
      "name": "Collapse IZIN Tanpa Bukti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"ket_temp\" (\"ID_Ket\", \"ID_Pegawai\", \"Nama\", \"NIP\", \"Tanggal\", \"tgl_mulai\", \"tgl_selesai\", \"Jam\", \"Jenis Absen\", \"Ket\", \"Status\", \"request_id\", \"instansi_id\") VALUES ('{{ ($json.id_ket).toString().replace(/'/g, \"''\") }}','{{ ($json.user_id).toString().replace(/'/g, \"''\") }}','{{ ($json.nama).toString().replace(/'/g, \"''\") }}','{{ ($json.nip).toString().replace(/'/g, \"''\") }}','{{ ($json.tanggal).toString().replace(/'/g, \"''\") }}','{{ ($json.tgl_mulai).toString().replace(/'/g, \"''\") }}','{{ ($json.tgl_selesai).toString().replace(/'/g, \"''\") }}','{{ ($json.jam).toString().replace(/'/g, \"''\") }}','IZIN','{{ ($json.keterangan).toString().replace(/'/g, \"''\") }}', 'PENDING', '{{ ($('Keterangan').first().json.body.request_id).toString().replace(/'/g, \"''\") }}', COALESCE((SELECT instansi_id FROM user_list WHERE \"NIP\" = '{{ ($json.nip).toString().replace(/'/g, \"''\") }}' LIMIT 1), (SELECT instansi_id FROM user_list WHERE id::text = '{{ ($json.user_id).toString().replace(/'/g, \"''\") }}' LIMIT 1), 'bapperida')) RETURNING *",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "a462856e-42ed-4417-9cf5-5ab7934811e3",
      "name": "Simpan ket_temp IZIN Tanpa Bukti",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -576,
        -400
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst prefix = 'IZN';\nconst tglKey = (d.tgl_mulai || '').replace(/-/g, '');\nreturn d.dates.map((tgl, i) => ({\n  json: {\n    ...d,\n    tanggal: tgl,\n    drive_link: '',\n    id_ket: `${prefix}${tglKey}_${d.user_id}`\n  }\n}\n));"
      },
      "id": "c3f6278a-2626-4526-96f8-bec86cd3a86a",
      "name": "Expand IZIN Tanpa Bukti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: \"Pengajuan IZIN berhasil dikirim ke admin untuk disetujui.\", status: \"PENDING\" }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "id": "609bd26f-d6a9-4b88-9402-9d195be1f4d1",
      "name": "Respond OK IZIN PENDING Ada Bukti",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1888,
        -592
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Format Notif Admin Ada Bukti').item.json.chat_id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "📎 *Bukti IZIN dari pegawai*",
          "parse_mode": "Markdown"
        }
      },
      "id": "46bac603-f6c0-43f6-b702-53650bfd929b",
      "name": "Kirim Bukti ke Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1664,
        -592
      ],
      "webhookId": "izn00011-izn0-izn0-izn0-izn000000011",
      "credentials": {
        "telegramApi": {
          "id": "GSEMSscu6roPnSCy",
          "name": "BAPPERIDA"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "bukti_base64",
        "options": {}
      },
      "id": "74be62de-f3e8-4068-830d-011e9412571d",
      "name": "Convert Bukti IZIN Admin",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1440,
        -592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prep-bukti-adm",
              "name": "bukti_base64",
              "value": "={{ $('Keterangan').first().json.body.bukti_base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b089a6a4-597a-4b89-a664-dfe7d412df4d",
      "name": "Set Bukti For Admin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        -592
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "63fd7a7c-7d33-4885-93bb-5ab96067959e",
      "name": "Kirim ke Admin Ada Bukti",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        -592
      ],
      "webhookId": "izn00010-izn0-izn0-izn0-izn000000010",
      "credentials": {
        "telegramApi": {
          "id": "GSEMSscu6roPnSCy",
          "name": "BAPPERIDA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Collapse IZIN Ada Bukti').first().json;\nconst INSTANSI_MAP = { bapperida: 'BAPPERIDA Sumba Barat', dpmptsp: 'DPMPTSP Sumba Barat' };\nconst instansi_id = d.instansi_id || 'bapperida';\nconst instansi_name = INSTANSI_MAP[instansi_id] || instansi_id.toUpperCase();\nconst driveLink = d.drive_link || '';\nconst text = `🙏 *PENGAJUAN IZIN — BUTUH KONFIRMASI ADMIN*\\n━━━━━━━━━━━━━━━━━━\\n👤 *${d.nama}*\\n🪪 NIP: ${d.nip}\\n🏢 ${d.jabatan||'—'}\\n\\n📅 *Tanggal* : ${d.tgl_range}\\n⏱️ *Durasi*  : ${d.durasi} hari\\n📝 *Keterangan*:\\n${d.keterangan}\\n` + (driveLink ? `📎 *Bukti*   : [Lihat di Google Drive](${driveLink})\\n` : '') + `━━━━━━━━━━━━━━━━━━\\n_Buka Panel Admin untuk Menyetujui / Menolak._`;\nlet adminIds = [];\ntry { const adminRows = $('Get Admin List Ada Bukti').all().map(i => i.json); adminIds = adminRows.map(r => parseInt(r.telegram_id||r.Telegram_ID||r.telegram_Id||0)).filter(id => id > 0); } catch(_) {}\nif (!adminIds.length) adminIds = [1383864355];\nreturn adminIds.map(id => ({ json: { chat_id: String(id), text, ada_bukti: true, instansi_id } }));"
      },
      "id": "af5d5a3e-34a1-44cd-86eb-27bfcd866534",
      "name": "Format Notif Admin Ada Bukti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -592
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS telegram_id, \"NIP\", instansi_id FROM user_list WHERE is_admin = true AND (instansi_id = COALESCE(NULLIF('{{ ($json.instansi_id).toString() }}', ''), 'bapperida') OR UPPER(role) IN ('SUPERADMIN', 'SUPER ADMIN'))",
        "options": {}
      },
      "id": "27b0a862-7143-4d3a-b63c-113f9f22afe6",
      "name": "Get Admin List Ada Bukti",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        -592
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Expand IZIN Ada Bukti').first().json }];"
      },
      "id": "d4c6b4ff-dd3d-454a-a6dc-946c967ab667",
      "name": "Collapse IZIN Ada Bukti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -592
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"ket_temp\" (\"ID_Ket\", \"ID_Pegawai\", \"Nama\", \"NIP\", \"Tanggal\", \"tgl_mulai\", \"tgl_selesai\", \"Jam\", \"Jenis Absen\", \"Ket\", \"Status\", \"drive_link\", \"request_id\", \"instansi_id\") VALUES ('{{ (({'IZIN':'IZN','SAKIT':'SKT','TUGAS':'TGS'}[$('Validasi & Cek Bukti').first().json.jenis.toUpperCase()]||$('Validasi & Cek Bukti').first().json.jenis.slice(0,3).toUpperCase()) + $('Validasi & Cek Bukti').first().json.tgl_mulai.replace(/-/g,'') + '_' + $('Validasi & Cek Bukti').first().json.nip).toString().replace(/'/g, \"''\") }}','{{ ($('Validasi & Cek Bukti').first().json.user_id).toString().replace(/'/g, \"''\") }}','{{ ($('Validasi & Cek Bukti').first().json.nama).toString().replace(/'/g, \"''\") }}','{{ ($('Validasi & Cek Bukti').first().json.nip).toString().replace(/'/g, \"''\") }}','{{ ($('Validasi & Cek Bukti').first().json.tgl_range).toString().replace(/'/g, \"''\") }}','{{ ($('Validasi & Cek Bukti').first().json.tgl_mulai).toString().replace(/'/g, \"''\") }}','{{ ($('Validasi & Cek Bukti').first().json.tgl_selesai).toString().replace(/'/g, \"''\") }}','{{ ($('Validasi & Cek Bukti').first().json.jam).toString().replace(/'/g, \"''\") }}','IZIN','{{ ($('Validasi & Cek Bukti').first().json.keterangan).toString().replace(/'/g, \"''\") }}','PENDING','{{ ($json.webViewLink || $json.webContentLink || '').toString().replace(/'/g, \"''\") }}', '{{ ($('Keterangan').first().json.body.request_id).toString().replace(/'/g, \"''\") }}', COALESCE(NULLIF('{{ ($('Keterangan').first().json.body.user.instansi_id || '').toString().replace(/'/g, \"''\") }}', ''), (SELECT instansi_id FROM user_list WHERE \"NIP\" = '{{ ($json.nip || '').toString().replace(/'/g, \"''\") }}' LIMIT 1), (SELECT instansi_id FROM user_list WHERE id::text = '{{ ($json.user_id || $('Validasi & Cek Bukti').first().json.user_id || '').toString().replace(/'/g, \"''\") }}' LIMIT 1), 'bapperida')) RETURNING *",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "b81d932c-6c0c-4ede-bda0-6be0bb44be04",
      "name": "Simpan ket_temp IZIN Ada Bukti",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -128,
        -592
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const driveLink = $input.first().json.webViewLink || $input.first().json.webContentLink || '';\nconst d = $('Validasi & Cek Bukti').first().json;\nconst prefix = 'IZN';\nconst tglKey = (d.tgl_mulai || '').replace(/-/g, '');\nreturn d.dates.map((tgl, i) => ({\n  json: {\n    ...d,\n    tanggal: tgl,\n    drive_link: driveLink,\n    id_ket: `${prefix}${tglKey}_${d.user_id}`\n  }\n}));"
      },
      "id": "b0079bc2-0e35-40d3-b29c-3d101886c3c8",
      "name": "Expand IZIN Ada Bukti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -592
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Validasi & Cek Bukti').first().json.user_id }}_{{ $('Validasi & Cek Bukti').first().json.tgl_mulai }}_{{ $('Validasi & Cek Bukti').first().json.tgl_selesai }}_IZIN",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1bc8fIt6tW5Bj9mLW6OD-lG-jkcaM9cGq",
          "mode": "list",
          "cachedResultName": "Bukti Keterangan Absensi"
        },
        "options": {}
      },
      "id": "4c1b851f-e28f-4d18-8b14-06db016a823c",
      "name": "Upload GDrive IZIN",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -352,
        -592
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "53IL2urNBWm95sLS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.bukti_base64",
        "options": {}
      },
      "id": "1e50cc7a-b80a-4358-8c03-02a5f9bba602",
      "name": "Convert to File IZIN",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -576,
        -592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set_bi",
              "name": "body.bukti_base64",
              "value": "={{ $('Keterangan').first().json.body.bukti_base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5701a35d-0a7c-4681-a8b0-da704ecd0714",
      "name": "Set Bukti IZIN",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        -592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ada_bukti }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "ab_izin"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e8afb7bd-a8b5-4a39-b840-c4bf192aa6c7",
      "name": "Ada Bukti? IZIN",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1024,
        -496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.jenis }}",
              "rightValue": "IZIN",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "is_izin"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9a6780f4-b58f-4576-84ee-194898aa2046",
      "name": "Apakah IZIN?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        -304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, message: $('Validasi & Cek Bukti').item.json.message }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning, Accept, Authorization"
              }
            ]
          }
        }
      },
      "id": "57b9cf4a-8c4b-474f-8bce-e921ba2b8595",
      "name": "Respond Fail Keterangan",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1248,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "is_valid"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0e9ba53a-5aae-4706-ad92-f3cf763051f4",
      "name": "Is Valid? Ket",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1472,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Keterangan').first().json.body || {};\nconst user = body.user || {};\nconst rows = $('Get Pegawai Ket').all();\nconst pgwRow = rows.find(r => Object.values(r.json).some(v => String(v||'').trim() !== ''));\nif (!pgwRow) return [{ json:{ ok:false, message:'Anda tidak terdaftar dalam sistem. Hubungi admin.' } }];\nconst pgw = pgwRow.json;\nconst status = (pgw.Status || pgw.status || 'AKTIF').toUpperCase();\nconst nama = pgw.username || pgw.nama || pgw.name || user.first_name || '—';\nconst nip = pgw.NIP || pgw.nip || '—';\nconst jabatan = pgw.Jabatan || pgw.jabatan || '—';\nif (status === 'NONAKTIF') return [{ json:{ ok:false, message:'Akun Anda dinonaktifkan. Hubungi admin.' } }];\nif (!body.tgl_mulai || !body.tgl_selesai) return [{ json:{ ok:false, message:'Tanggal mulai dan selesai wajib diisi.' } }];\nif (!(body.keterangan||'').trim()) return [{ json:{ ok:false, message:'Keterangan tidak boleh kosong.' } }];\nconst jenisValid = ['IZIN','SAKIT','TUGAS','TUBEL','CUTI'];\nif (!body.jenis || !jenisValid.includes(body.jenis.toUpperCase())) return [{ json:{ ok:false, message:'Jenis tidak valid. Pilih: IZIN, SAKIT, TUGAS, TUBEL, atau CUTI.' } }];\nconst start = new Date(body.tgl_mulai);\nconst end = new Date(body.tgl_selesai);\nif (isNaN(start) || isNaN(end)) return [{ json:{ ok:false, message:'Format tanggal tidak valid.' } }];\nif (end < start) return [{ json:{ ok:false, message:'Tanggal selesai tidak boleh sebelum tanggal mulai.' } }];\nconst durasi = Math.round((end - start) / (864e5)) + 1;\nconst jenis = body.jenis.toUpperCase();\nconst adaBukti = !!body.bukti_base64;\nif (jenis === 'TUGAS' && !adaBukti) return [{ json:{ ok:false, message:'📎 Surat Tugas / Dinas Luar wajib menyertakan bukti (foto/dokumen surat tugas).' } }];\nif (jenis === 'SAKIT' && durasi > 1 && !adaBukti) return [{ json:{ ok:false, message:`📎 Izin Sakit lebih dari 1 hari (${durasi} hari) wajib menyertakan bukti (surat dokter / keterangan sakit).` } }];\n// Backend time gate: non-admin cannot submit after jam masuk\nif (body.source !== 'admin_panel') {\n  const _nowStr = new Date().toLocaleString('en-US',{timeZone:'Asia/Makassar',hour12:false});\n  const _n = new Date(_nowStr);\n  const _nowMenit = _n.getHours() * 60 + _n.getMinutes();\n  if (_nowMenit > 480) {\n    return [{ json:{ ok:false, message:'⏰ Lewat batas waktu pengajuan. Pengajuan keterangan hanya bisa dikirim sebelum jam 08:00 WITA. Silakan hubungi admin.' } }];\n  }\n}\nconst nowStr = new Date().toLocaleString('en-US',{timeZone:'Asia/Makassar',hour12:false});\nconst now = new Date(nowStr);\nconst ts = `${now.getFullYear()}-${String(now.getMonth()+1).padStart(2,'0')}-${String(now.getDate()).padStart(2,'0')} ${String(now.getHours()).padStart(2,'0')}:${String(now.getMinutes()).padStart(2,'0')}`;\nconst dates = [];\nfor (let i = 0; i < durasi; i++) { const d = new Date(start); d.setDate(start.getDate() + i); dates.push(d.toISOString().split('T')[0]); }\nlet tglRange = body.tgl_mulai === body.tgl_selesai ? body.tgl_mulai : `${body.tgl_mulai} s.d. ${body.tgl_selesai}`;\nif (body.jam_mulai && body.jam_selesai) tglRange += ` (${body.jam_mulai} - ${body.jam_selesai})`;\nreturn [{ json:{ ok:true, user_id:String(user.id||''), nip, nama, jabatan, jenis, tgl_mulai:body.tgl_mulai, tgl_selesai:body.tgl_selesai, tgl_range:tglRange, durasi, dates, keterangan:body.keterangan.trim(), request_id:body.request_id||'', timestamp:ts, jam: (body.jam_mulai && body.jam_selesai) ? `${body.jam_mulai} - ${body.jam_selesai}` : ts.split(' ')[1], ada_bukti:adaBukti, instansi_id: pgw.instansi_id || '', jam_mulai: body.jam_mulai||'', jam_selesai: body.jam_selesai||'' } }];"
      },
      "id": "3dd80279-89dd-46fe-9a8f-26b543ba4a86",
      "name": "Validasi & Cek Bukti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"user_list\" WHERE \"NIP\" = '{{ ($(\"Keterangan\").item.json.body?.user?.nip || $(\"Keterangan\").item.json.body?.nip).toString().replace(/'/g, \"''\") }}' OR \"id\" = {{ ($(\"Keterangan\").item.json.body?.user?.id || 0).toString().replace(/'/g, \"''\") }} LIMIT 1",
        "options": {}
      },
      "id": "6db3255a-e890-42fc-bf73-56f64df52879",
      "name": "Get Pegawai Ket",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1920,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"ket_temp\" WHERE \"request_id\" = '{{ ($json.body.request_id).toString().replace(/'/g, \"''\") }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2368,
        -304
      ],
      "id": "70e66f44-0d3f-4dd3-adcb-92d394bb7361",
      "name": "Check Idempotency Ket",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-rid-ket",
              "leftValue": "={{ $json.request_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2144,
        -304
      ],
      "id": "22640eba-ad68-4a30-96a2-87792500fe9b",
      "name": "Is Duplicate Ket?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":true, \"message\":\"Pengajuan sudah diterima (Idempotent)\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1920,
        -400
      ],
      "id": "e985f243-449b-4088-9ba9-10d655bfe832",
      "name": "Respond Duplicate Ket Early"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.first().json.headers || {};\nconst authH = headers['authorization'] || headers['Authorization'] || '';\nconst bearer = authH.replace(/^Bearer\\s+/i, '').trim();\nif (!bearer) {\n  $execution.respond({\n    statusCode: 401,\n    headers: { 'Access-Control-Allow-Origin': '*' },\n    body: JSON.stringify({ ok: false, message: 'Unauthorized: Invalid Token' })\n  });\n  return [];\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2592,
        -304
      ],
      "id": "7e0f1c7c-2624-47e1-bec0-7b5aa94bb127",
      "name": "Security Gate Ket"
    },
    {
      "parameters": {
        "jsCode": "const m=$input.first().json.headers?.['x-forwarded-method']||$input.first().json.method||'';\nif(m==='OPTIONS'){$execution.respond({statusCode:200,headers:{'Access-Control-Allow-Origin':'*','Access-Control-Allow-Methods':'GET,POST,OPTIONS','Access-Control-Allow-Headers':'Content-Type,ngrok-skip-browser-warning,Accept,Authorization'},body:''});return[];}\nreturn $input.all();"
      },
      "id": "d07d028d-261f-4764-beb0-49171203a1af",
      "name": "CORS Keterangan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        -304
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keterangan",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "7bcb0afa-ecfd-4568-ac2e-c2644d9bc612",
      "name": "Keterangan",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3040,
        -304
      ],
      "webhookId": "95b70783-5bfb-45eb-8837-5f94ca2d7360"
    }
  ],
  "connections": {
    "Broadcast ke Semua Pegawai": {
      "main": [
        [
          {
            "node": "Respond OK Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Broadcast Approve": {
      "main": [
        [
          {
            "node": "Broadcast ke Semua Pegawai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Semua Pegawai": {
      "main": [
        [
          {
            "node": "Format Broadcast Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Approve": {
      "main": [
        [
          {
            "node": "Get Semua Pegawai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selesai Update Log": {
      "main": [
        [
          {
            "node": "Update Status Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collapse Log Approve": {
      "main": [
        [
          {
            "node": "Selesai Update Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Log IZIN Approve": {
      "main": [
        [
          {
            "node": "Collapse Log Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Insert (Reject)": {
      "main": [
        [
          {
            "node": "Selesai Update Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approve?": {
      "main": [
        [
          {
            "node": "Insert Log IZIN Approve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Insert (Reject)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Log Approve": {
      "main": [
        [
          {
            "node": "Is Approve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selesai Update KET TEMP": {
      "main": [
        [
          {
            "node": "Expand Log Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update KET TEMP Row": {
      "main": [
        [
          {
            "node": "Selesai Update KET TEMP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand KET TEMP Rows": {
      "main": [
        [
          {
            "node": "Update KET TEMP Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Found?": {
      "main": [
        [
          {
            "node": "Expand KET TEMP Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Fail Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Approve (S, T, TUBEL, CUTI)": {
      "main": [
        [
          {
            "node": "Is Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proses Konfirmasi": {
      "main": [
        [
          {
            "node": "Auto Approve (S, T, TUBEL, CUTI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ket Row": {
      "main": [
        [
          {
            "node": "Proses Konfirmasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?3": {
      "main": [
        [
          {
            "node": "Get Ket Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Fail Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validasi Approve": {
      "main": [
        [
          {
            "node": "Is Valid?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Admin List Approve": {
      "main": [
        [
          {
            "node": "Validasi Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS Ket Approve": {
      "main": [
        [
          {
            "node": "Get Admin List Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ket Approve Webhook": {
      "main": [
        [
          {
            "node": "CORS Ket Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Ket List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Admin Request?": {
      "main": [
        [
          {
            "node": "Get All Ket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Ket by User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Ket": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ket by User": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Query": {
      "main": [
        [
          {
            "node": "Is Admin Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS Ket List": {
      "main": [
        [
          {
            "node": "Parse Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ket List Webhook": {
      "main": [
        [
          {
            "node": "CORS Ket List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Delete": {
      "main": [
        [
          {
            "node": "Delete Row KET TEMP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Verified?1": {
      "main": [
        [
          {
            "node": "Get Log Absensi User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Fail Verify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifikasi Row1": {
      "main": [
        [
          {
            "node": "Is Verified?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows Milik User1": {
      "main": [
        [
          {
            "node": "Verifikasi Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Row KET TEMP": {
      "main": [
        [
          {
            "node": "Respond OK Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collapse Setelah Delete Log": {
      "main": [
        [
          {
            "node": "Update Status Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Log Absensi Row": {
      "main": [
        [
          {
            "node": "Collapse Setelah Delete Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Log Delete Rows": {
      "main": [
        [
          {
            "node": "Delete Log Absensi Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Log Rows To Delete": {
      "main": [
        [
          {
            "node": "Expand Log Delete Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Log Absensi User": {
      "main": [
        [
          {
            "node": "Filter Log Rows To Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?2": {
      "main": [
        [
          {
            "node": "Get Rows Milik User1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Fail Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Delete": {
      "main": [
        [
          {
            "node": "Is Valid?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS Ket Delete": {
      "main": [
        [
          {
            "node": "Parse Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ket Delete Webhook": {
      "main": [
        [
          {
            "node": "CORS Ket Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?1": {
      "main": [
        [
          {
            "node": "Get Rows Milik User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Fail Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Row KET TEMP": {
      "main": [
        [
          {
            "node": "Respond OK Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Verified?": {
      "main": [
        [
          {
            "node": "Update Row KET TEMP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Fail Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifikasi Row": {
      "main": [
        [
          {
            "node": "Is Verified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows Milik User": {
      "main": [
        [
          {
            "node": "Verifikasi Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validasi Edit": {
      "main": [
        [
          {
            "node": "Is Valid?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS Ket Edit": {
      "main": [
        [
          {
            "node": "Validasi Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ket Edit Webhook": {
      "main": [
        [
          {
            "node": "CORS Ket Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Auto B": {
      "main": [
        [
          {
            "node": "Get Semua Pegawai Broadcast B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Auto": {
      "main": [
        [
          {
            "node": "Get Semua Pegawai Broadcast A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Broadcast Tanpa Bukti": {
      "main": [
        [
          {
            "node": "Kirim Broadcast Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Semua Pegawai Broadcast B": {
      "main": [
        [
          {
            "node": "Format Broadcast Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK Auto Tanpa Bukti": {
      "main": [
        [
          {
            "node": "Update Status Auto B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collapse Auto Tanpa Bukti": {
      "main": [
        [
          {
            "node": "Simpan ket_temp Auto Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simpan ket_temp Auto Tanpa Bukti": {
      "main": [
        [
          {
            "node": "Respond OK Auto Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simpan Log Auto Tanpa Bukti": {
      "main": [
        [
          {
            "node": "Collapse Auto Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Auto Tanpa Bukti": {
      "main": [
        [
          {
            "node": "Simpan Log Auto Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Bukti Broadcast": {
      "main": [
        [
          {
            "node": "Kirim Foto Broadcast ke Semua",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Broadcast Ada Bukti": {
      "main": [
        [
          {
            "node": "Convert Bukti Broadcast",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kirim Broadcast Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Semua Pegawai Broadcast A": {
      "main": [
        [
          {
            "node": "Format Broadcast Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK Auto Ada Bukti": {
      "main": [
        [
          {
            "node": "Update Status Auto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collapse Auto Ada Bukti": {
      "main": [
        [
          {
            "node": "Simpan ket_temp Auto Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simpan ket_temp Auto Ada Bukti": {
      "main": [
        [
          {
            "node": "Respond OK Auto Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simpan Log Auto Ada Bukti": {
      "main": [
        [
          {
            "node": "Collapse Auto Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Auto Ada Bukti": {
      "main": [
        [
          {
            "node": "Simpan Log Auto Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload GDrive Auto": {
      "main": [
        [
          {
            "node": "Expand Auto Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File Auto": {
      "main": [
        [
          {
            "node": "Upload GDrive Auto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bukti Auto": {
      "main": [
        [
          {
            "node": "Convert to File Auto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ada Bukti? Auto": {
      "main": [
        [
          {
            "node": "Set Bukti Auto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Expand Auto Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kirim ke Admin Tanpa Bukti": {
      "main": [
        [
          {
            "node": "Respond OK IZIN PENDING Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Notif Admin Tanpa Bukti": {
      "main": [
        [
          {
            "node": "Kirim ke Admin Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Admin List Tanpa Bukti": {
      "main": [
        [
          {
            "node": "Format Notif Admin Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collapse IZIN Tanpa Bukti": {
      "main": [
        [
          {
            "node": "Get Admin List Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simpan ket_temp IZIN Tanpa Bukti": {
      "main": [
        [
          {
            "node": "Collapse IZIN Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand IZIN Tanpa Bukti": {
      "main": [
        [
          {
            "node": "Simpan ket_temp IZIN Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kirim Bukti ke Admin": {
      "main": [
        [
          {
            "node": "Respond OK IZIN PENDING Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Bukti IZIN Admin": {
      "main": [
        [
          {
            "node": "Kirim Bukti ke Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bukti For Admin": {
      "main": [
        [
          {
            "node": "Convert Bukti IZIN Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kirim ke Admin Ada Bukti": {
      "main": [
        [
          {
            "node": "Set Bukti For Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Notif Admin Ada Bukti": {
      "main": [
        [
          {
            "node": "Kirim ke Admin Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Admin List Ada Bukti": {
      "main": [
        [
          {
            "node": "Format Notif Admin Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collapse IZIN Ada Bukti": {
      "main": [
        [
          {
            "node": "Get Admin List Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simpan ket_temp IZIN Ada Bukti": {
      "main": [
        [
          {
            "node": "Expand IZIN Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand IZIN Ada Bukti": {
      "main": [
        [
          {
            "node": "Collapse IZIN Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload GDrive IZIN": {
      "main": [
        [
          {
            "node": "Simpan ket_temp IZIN Ada Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File IZIN": {
      "main": [
        [
          {
            "node": "Upload GDrive IZIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bukti IZIN": {
      "main": [
        [
          {
            "node": "Convert to File IZIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ada Bukti? IZIN": {
      "main": [
        [
          {
            "node": "Set Bukti IZIN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Expand IZIN Tanpa Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apakah IZIN?": {
      "main": [
        [
          {
            "node": "Ada Bukti? IZIN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ada Bukti? Auto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid? Ket": {
      "main": [
        [
          {
            "node": "Apakah IZIN?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Fail Keterangan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validasi & Cek Bukti": {
      "main": [
        [
          {
            "node": "Is Valid? Ket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pegawai Ket": {
      "main": [
        [
          {
            "node": "Validasi & Cek Bukti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Idempotency Ket": {
      "main": [
        [
          {
            "node": "Is Duplicate Ket?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate Ket?": {
      "main": [
        [
          {
            "node": "Respond Duplicate Ket Early",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Pegawai Ket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Gate Ket": {
      "main": [
        [
          {
            "node": "Check Idempotency Ket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS Keterangan": {
      "main": [
        [
          {
            "node": "Security Gate Ket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keterangan": {
      "main": [
        [
          {
            "node": "CORS Keterangan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Ket List Webhook": [
      {
        "headers": {
          "host": "mindcloud.my.id",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36",
          "accept": "application/json",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "id-ID,id;q=0.9,en-US;q=0.8,en;q=0.7,zh-CN;q=0.6,zh;q=0.5",
          "ngrok-skip-browser-warning": "true",
          "origin": "https://absensi.mindcloud.my.id",
          "priority": "u=1, i",
          "referer": "https://absensi.mindcloud.my.id/",
          "sec-ch-ua": "\"Google Chrome\";v=\"149\", \"Chromium\";v=\"149\", \"Not)A;Brand\";v=\"24\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "same-site",
          "x-app-token": "BAPPERIDA_SECURE_TOKEN_2025",
          "x-forwarded-for": "110.136.219.182",
          "x-forwarded-host": "mindcloud.my.id",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "69401d40dc9d",
          "x-real-ip": "110.136.219.182"
        },
        "params": {},
        "query": {
          "is_admin": "true",
          "status": "PENDING",
          "_t": "1782299198293",
          "instansi_id": "dpmptsp"
        },
        "body": {},
        "webhookUrl": "https://mindcloud.my.id/webhook/ket-list",
        "executionMode": "production"
      }
    ],
    "Keterangan": [
      {
        "headers": {
          "host": "mindcloud.my.id",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36",
          "content-length": "422",
          "accept": "application/json",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "id-ID,id;q=0.9,en-US;q=0.8,en;q=0.7,zh-CN;q=0.6,zh;q=0.5",
          "content-type": "application/json",
          "ngrok-skip-browser-warning": "true",
          "origin": "https://absensi.mindcloud.my.id",
          "priority": "u=1, i",
          "referer": "https://absensi.mindcloud.my.id/",
          "sec-ch-ua": "\"Google Chrome\";v=\"149\", \"Chromium\";v=\"149\", \"Not)A;Brand\";v=\"24\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "same-site",
          "x-app-token": "BAPPERIDA_SECURE_TOKEN_2025",
          "x-forwarded-for": "110.136.219.182",
          "x-forwarded-host": "mindcloud.my.id",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "69401d40dc9d",
          "x-real-ip": "110.136.219.182"
        },
        "params": {},
        "query": {
          "_t": "1782297669412",
          "instansi_id": "dpmptsp"
        },
        "body": {
          "nip": "198412072010012035",
          "request_id": "admin_ket_198412072010012035_1782297669411",
          "user": {
            "id": "116329",
            "nama": "Diana Kadi Mala Awang",
            "nip": "198412072010012035"
          },
          "jenis": "IZIN",
          "keterangan": "test",
          "tgl_mulai": "2026-06-24",
          "tgl_selesai": "2026-06-24",
          "bukti_base64": null,
          "bukti_mime": null,
          "bukti_nama": null,
          "admin_id": "1383864355",
          "admin_nama": "Achmad Aqil Susanto, S.Kom",
          "source": "admin_panel",
          "timestamp": 1782297669
        },
        "webhookUrl": "https://mindcloud.my.id/webhook/keterangan",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b55943efb5f219d407bc408d9277d6d643804fc75070b4ed56250fe03c8ea67"
  }
}