n8n/simapo/04_mutasi_stok.json
{
  "name": "SIMAPO - Mutasi Stok",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "simapo-mutasi-save",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "wh-mutasi-save",
      "name": "WH Catat Mutasi",
      "webhookId": "simapo-mutasi-save"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.item.json.body || $input.item.json;\nconst nip = b.nip || $input.item.json.headers?.['x-nip'] || 'ADMIN';\nconst jumlah = parseInt(b.jumlah) || 0;\nconst masId = b.barangmasukid || null;\nconst kelId = b.barangkeluarid || null;\nconst delta = masId ? jumlah : -jumlah;\nconst barangid = masId || kelId;\n\nreturn [{ json: {\n  barangmasukid: masId,\n  barangkeluarid: kelId,\n  barangid: barangid,\n  createdbyid: nip,\n  jumlah: jumlah,\n  delta: delta,\n  keterangan: b.keterangan || '',\n  tanggal: new Date().toISOString()\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "code-mutasi-save",
      "name": "Calc Mutasi"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"SIMAPO\".mutasi_barang (id, barangmasukid, barangkeluarid, createdbyid, jumlah, keterangan, tanggal) VALUES (gen_random_uuid(), {{ ($json.barangmasukid ? \"'\" + $json.barangmasukid + \"'\" : 'NULL').toString().replace(/'/g, \"''\") }}, {{ ($json.barangkeluarid ? \"'\" + $json.barangkeluarid + \"'\" : 'NULL').toString().replace(/'/g, \"''\") }}, '{{ ($json.createdbyid).toString().replace(/'/g, \"''\") }}', {{ ($json.jumlah).toString().replace(/'/g, \"''\") }}, '{{ ($json.keterangan).toString().replace(/'/g, \"''\") }}', '{{ ($json.tanggal).toString().replace(/'/g, \"''\") }}'); UPDATE \"SIMAPO\".barang SET stok_saat_ini = GREATEST(0, stok_saat_ini + ({{ ($json.delta).toString().replace(/'/g, \"''\") }})), updatedat = NOW() WHERE id = '{{ ($json.barangid).toString().replace(/'/g, \"''\") }}' RETURNING id, stok_saat_ini;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        0
      ],
      "id": "pg-mutasi-save",
      "name": "PG Save Mutasi",
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Mutasi dicatat\", \"stok_baru\": $json.stok_saat_ini } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        0
      ],
      "id": "res-mutasi-save",
      "name": "Res Catat Mutasi"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "simapo-mutasi-list",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "id": "wh-mutasi-list",
      "name": "WH Mutasi List",
      "webhookId": "simapo-mutasi-list"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT m.id, b.nama AS nama_barang, b.kodebarang, m.jumlah, m.keterangan, m.createdbyid, COALESCE(u.\"Nama\", m.createdbyid) AS nama_petugas, TO_CHAR(m.tanggal,'YYYY-MM-DD HH24:MI') AS createdat, CASE WHEN m.barangmasukid IS NOT NULL THEN 'MASUK' ELSE 'KELUAR' END as jenis FROM \"SIMAPO\".mutasi_barang m LEFT JOIN \"SIMAPO\".barang b ON b.id = COALESCE(m.barangmasukid, m.barangkeluarid) LEFT JOIN public.user_list u ON u.\"NIP\" = m.createdbyid ORDER BY m.tanggal DESC LIMIT 50;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        300
      ],
      "id": "pg-mutasi-list",
      "name": "PG Mutasi List",
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { data: $input.all().map(i => i.json) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "id": "code-agg-mutasi",
      "name": "Agg Mutasi"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        300
      ],
      "id": "res-mutasi-list",
      "name": "Res Mutasi List"
    }
  ],
  "connections": {
    "WH Catat Mutasi": {
      "main": [
        [
          {
            "node": "Calc Mutasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc Mutasi": {
      "main": [
        [
          {
            "node": "PG Save Mutasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Save Mutasi": {
      "main": [
        [
          {
            "node": "Res Catat Mutasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH Mutasi List": {
      "main": [
        [
          {
            "node": "PG Mutasi List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Mutasi List": {
      "main": [
        [
          {
            "node": "Agg Mutasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agg Mutasi": {
      "main": [
        [
          {
            "node": "Res Mutasi List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b55943efb5f219d407bc408d9277d6d643804fc75070b4ed56250fe03c8ea67"
  }
}